.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-column-center {
    align-items: center;
}

.flex-align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

.grid-templete-columns-3 {
    grid-template-columns: repeat(3, 1fr);
}

.gap-24 {
    gap: 24px;
}

.text-md {
    font: var(--text-md);
}

.gray-500 {
    color: var(--gray-500);
}